.about-pg {
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: $break_sm) {
      flex-direction: column;
    }
    &__left {
      margin-left: percentage(2/12);
      width: percentage(4/12);
      padding-right: 2rem;
      @media (max-width: $break_med) {
        margin-left: percentage(1/12);
        width: percentage(6/12);
      }
      @media (max-width: $break_sm) {
        margin-left: 3rem;
        width: auto;
      }
    }
    &__right {
      width: percentage(5/12);
      margin-left: percentage(1/12);
      padding-right: 2rem;
      @media (max-width: $break_med) {
        margin-left: percentage(1/12);
        width: percentage(4/12);
      }
      @media (max-width: $break_sm) {
        margin-left: 3rem;
        width: auto;
        padding-top: 4rem;
      }
    }
  }
  p {
    max-width: 45em;
  }
}

.team-bio {
  width: 32em;
  padding-right: 4rem;
  @media (max-width: $break_sm) {
    width: auto;
    padding-right: 3rem;
  }
  p {
    margin-bottom: 0;
  }
}

.select-clients-column {
  line-height: 1.5em;
  margin: 0 percentage(2/12);
  @media (max-width: $break_med) {
    margin: 0 percentage(1/12);
  }
  @media (max-width: $break_sm) {
    margin: 0 3rem;
    .client-name {
      padding-bottom: 0.4em;
    }
  }
  &.col {
    columns: 4;
    @media (max-width: $break_med) {
      columns: 3;
    }
    @media (max-width: $break_sm) {
      columns: 2;
    }
  }
}
