.contact-card {
  margin: auto;
  width: 45rem;
  position: relative;
  background: var(--white);
  @media (max-width: $break_med) {
    width: 40rem;
  }
  @media (max-width: $break_sm) {
    width: 100%;
    padding: 0 2rem;
  }
  &__header {
    border-bottom: 1px solid var(--black-ln);
    color: var(--black-ln);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo svg {
      height: 2.8rem;
      padding: 0rem 2rem;
    }
    .info {
      padding: 1rem 2rem 0 1rem;
    }
    @media (max-width: $break_sm) {
      display: block;
      .logo svg {
        height: 2.4rem;
        padding: 1.5rem 1rem 0;
        box-sizing: content-box;
      }
      .info {
         padding: 1rem 2rem 1rem 1.2rem;
      }
    }
  }
  &__status {
    text-align: center;
    padding: 0 10rem;
    @media (max-width: $break_sm) {
      padding: 1rem;
    }
  }
  &__body {
    padding: 1rem;
    border-bottom: 1px solid var(--black-ln);
    height: 20rem;
    font-family: 'Basis-Mono';
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $break_med) {
      height: 16rem;
    }
    textarea {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      resize: none;
      border: none;
      height: 100%;
      width: 100%;
      background: var(--white);
      color: var(--black-ln);
      &::placeholder {
        color: var(--black-ln);
      }
      &.form-invalid::placeholder {
        color: red;
      }
    }
  }
  &__footer {
    position: relative;
    padding-right: 10rem;
    height: 3rem;
    background: var(--white);
    color: var(--black-ln);
    &.form-invalid {
      input, input::placeholder {
        color: red;
      }
    }
    input {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      border: none;
      width: 100%;
      height: 100%;
      background: transparent;
      color: inherit;
      padding: 1rem;
      &::placeholder {
        color: var(--black-ln);
      }
    }
    button {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 10rem;
      border: none;
      height: 3rem;
      color: inherit;
      background: var(--white);
      border-left: 1px solid var(--black-ln);
      cursor: pointer;
      &:hover {
        background-color: var(--black-ln);
        color: var(--white);
        background: $timing_hover $ease;
      }
    }
  }
  &__bg-1, &__bg-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--black-ln);
    background: var(--white);
    z-index: 99;
    @media (max-width: $break_sm) {
      display: none;
    }
  }
  &__bg-2 {
    left: -20px;
    top: 20px;
  }
  &__bg-1 {
    left: -40px;
    top: 40px;
  }
  &__bg-0 {
    z-index: 100;
    position: relative;
    background: var(--white);
    border: 1px solid var(--black-ln);

  }
}

.contact {
  &--loading, &--error, &--success {
    textarea, input, button {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
