.controls {
  position: absolute;
  left: 0;
  right: 3em;
  bottom: 0;
  top: 0;
  &__item {
    position: absolute;
    z-index: 10;
    opacity: 1;
    transition: 600ms opacity, 200ms transform;
    cursor: pointer;
    &.hide {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }
  .logo {
    font-weight: 400;
    top: 1em;
    left: 1em;
    transition: 200ms opacity;
    z-index: 101;
  }
  .project-selector-control {
    z-index: 101;
    top: 1em;
    left: 11em;
  }
  .close {
    top: 1em;
    right: 1em;
    z-index: 101;
  }
  .glasses {
    bottom: 2.4em;
    right: 2em;
    transition: 800ms opacity 100ms;
    svg {
      width : 8em;
    }
  }
  .up-arrow, .down-arrow {
    bottom: 2.4em;
    left: 2.4em;
    svg {
      height : 1.1em;
    }
  }
  .up-arrow {
    transform: rotate(180deg);
    padding-top: 5em;
  }
  .text {
    z-index: 6;
    bottom: 3em;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: default;
    pointer-events: none;
    p {
      margin-bottom: 0.5em;
    }
  }
  .project-nav--left, .project-nav--right {
    bottom: 3em;
    left: 2em;
    z-index: 110;
    svg {
      height: 1.1em;
      transform: rotate(90deg);
    }
  }
  .project-nav--right {
    left: 7.5em;
    svg {
      transform: rotate(-90deg);
    }
  }
}
