.controls {
  position: fixed;
  left: 0;
  right: 3em;
  bottom: 0;
  top: 0;
  pointer-events: none;
  z-index: 200;
  &__item {
    position: absolute;
    z-index: 10;
    opacity: 1;
    transition: opacity $timing_controls $ease $delay_controls;
    cursor: pointer;
    pointer-events: all;
    &.hide {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }
  .logo {
    font-weight: 500;
    top: 1em;
    left: 1em;
    transition: opacity $timing_controls $ease $delay_controls;
    z-index: 101;
  }
  .project-selector-control {
    z-index: 101;
    top: 0.5em;
    left: 11em;
    pointer-events: none;
  }
  .close {
    top: 1em;
    right: 1em;
    z-index: 101;
    @media (max-width: $break_sm) {
      top: unset;
      bottom: 2.5em;
      right: 2em;
    }
  }
  .loading {
    top: 1em;
    left: 11em;
    z-index: 101;
    padding: 0 1rem;
  }
  .glasses {
    bottom: 2.4em;
    right: 2em;
    transition: opacity $timing_controls $ease;
    svg {
      width : 8em;
    }
    @media (max-width: $break_sm) {
      right: 1em;
      bottom: 1em;
    }
  }
  .up-arrow, .down-arrow {
    bottom: 2.4em;
    left: 2.4em;
    svg {
      height : 1.1em;
    }
    @media (max-width: $break_sm) {
      display: none;
    }
  }
  .up-arrow {
    transform: rotate(180deg);
    bottom: 7rem;
  }
  .text {
    color: var(--black-ln);
    z-index: 116;
    bottom: 3em;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: default;
    pointer-events: none;
    transition: opacity $timing_controls $ease $delay_controls;
    @media (max-width: $break_sm) {
      text-align: left;
      padding: 0 2rem;
      bottom: 1.4em;
    }
  }
  .project-nav--left, .project-nav--right {
    bottom: 3em;
    left: 2em;
    z-index: 110;
    svg {
      height: 1.1em;
      transform: rotate(90deg);
    }
    &__label {
      position: absolute;
      bottom: 0.3rem;
      left: 4rem;
      width: 20rem;
      opacity: 0;
      transition: opacity $timing_controls $ease $delay_controls;
      @media (max-width: $break_sm) {
        display: none;
      }
    }
    &:hover {
      .project-nav--left__label, .project-nav--right__label {
        opacity: 1;
      }
    }
  }
  .project-nav--left__label {
    left: 9.5rem;
  }
  .project-nav--right {
    left: 7.5em;
    svg {
      transform: rotate(-90deg);
    }
  }
}
