.controls {
  position: absolute;
  left: 0;
  right: 3em;
  bottom: 0;
  top: 0;
  &__item {
    position: absolute;
    z-index: 10;
    opacity: 1;
    transition: 600ms opacity, 200ms transform;
    cursor: pointer;
    &.hide {
      opacity: 0;
    }
  }
  .logo {
    font-weight: 500;
    top: 1em;
    left: 1em;
    transition: 200ms opacity;
    z-index: 101;
  }
  .close {
    top: 1em;
    right: 1em;
    z-index: 101;
  }
  .glasses {
    bottom: 2.4em;
    right: 2em;
    transition: 800ms opacity 100ms;
    svg {
      height : 2em;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  .up-down-toggle {
    bottom: 2.4em;
    left: 2.4em;
    &:hover {
      transform: scale(1.02);
    }
    .up-arrow {
      transform: rotate(180deg);
      padding-top: 3em;
    }
    svg {
      height : 1em;
    }
  }
  .text {
    z-index: 6;
    bottom: 3em;
    left: 0;
    width: 100%;
    text-align: center;
    p {
      margin-bottom: 0.5em;
    }
  }
}
