@font-face {
  font-family: 'Basis';
  font-weight: 400;
  src: url('/static/fonts/BasisGrotesque-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Basis';
  font-weight: 300;
  src: url('/static/fonts/BasisGrotesque-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Basis';
  font-weight: 600;
  src: url('/static/fonts/BasisGrotesque-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Basis';
  font-weight: 500;
  src: url('/static/fonts/BasisGrotesque-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Basis-Mono';
  src: url('/static/fonts/BasisGrotesque-Medium.ttf')  format('truetype');
}
