.col {
  &-2 {
    width: 50%;
    display: inline-block;
  }
  &-3 {
    width: 33.3333%;
    display: inline-block;
  }
  &-4 {
    width: 25%;
    display: inline-block;
  }
  &-5 {
    width: 20%;
    display: inline-block;
  }
  &-6 {
    width: 16.6667%;
    display: inline-block;
  }
}
