nav {
  text-orientation: sideways;
  writing-mode: vertical-lr;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 3rem;
  border-left: 1px solid var(--black-ln);
  padding-left: .3em;
  padding-right: 1.6em;
  z-index: 200;
  font-weight: 500;
  a {
    margin: 2em 0;
    padding: 0.2em 0;
  }
  .theme-toggle {
    position: absolute;
    bottom: 1rem;
    left: 0;
    padding: 0.4em;
    height: 2.3em;
    opacity: $theme_switch_default_opacity;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    svg {
      height: 100%;
    }
  }
}
.nav-trackbar {
  position: fixed;
  right: 3.3rem;
  top: 0;
  margin-top: 0.3rem;
  transition:
    transform $timing_trackbar linear,
    opacity $timing_themechange $ease $delay_themechange;
  width: 10px;
  height: 90px;
  z-index: 30;
  background: var(--trackbar);
  cursor: grab;
  &--dragging {
    cursor: grabbing;
    transition: none;
  }
  @media (max-width: $break_sm) {
    display: none;
  }
}
