.project-detail {
  position: fixed;
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 0 4em 0 0;
  box-sizing: border-box;
  &__close {
    cursor: pointer;
    position: absolute;
    right: 4em;
    top: 1em;
  }
  &__inner {
    width: 100%;
    padding-left: 16.66%;
    display: flex;
    align-items: flex-end;
    &__images {
      width: 70%;
      padding-right: 3em;
      overflow: scroll;
      height: 100vh;
      scrollbar-width: none;
      img, video {
        width: 100%;
        padding: 1em 0;
      }
    }
    &__content {
      width: 30%;
      padding: 1em 1em 1em 0;
      .project-buttons {
        float: right;
        padding: 1em 0;
      }
    }
  }
}

.project-detail {
  transition: opacity 200ms ;
  &__inner__images {
    transform: scale(0.5);
    transition: transform 400ms;
  }
  &.transition {
    &-enter {
      opacity: 0;
      .project-detail__inner__images {
        transform: scale(0.5);
      }
    }
    &-enter-active, &-enter-done {
      opacity: 1;
      .project-detail__inner__images {
        transform: scale(1);
      }
    }
    &-exit {
      opacity: 1;
      .project-detail__inner__images {
        transform: scale(1);
      }
    }
    &-exit-active {
      opacity: 0;
      .project-detail__inner__images {
        transform: scale(0.5);
      }
    }
  }
}
