.project-detail {
  position: fixed;
  background: var(--white);
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 0 3em 1rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    width: percentage(9/12);
    margin-left: percentage(1/12);
  }
  &__inner {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 70vh;
  }
  &__main-photo {
    width: percentage(9/12);
    height: 100%;
    padding: 0 4em;
    img, video, > div {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .main-photo--active, .main-photo--inactive {
      height: 100%;
      width: 100%;
      > div {
        height: 100%;
        width: 100%;
      }
    }
    .main-photo--inactive {
      display: none;
    }
    &__title {
      text-align: center;
      padding-top: 1em;
    }
  }
  &__side-panel {
    width: percentage(3/12);
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    &__thumbnails {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .thumbnail {
        cursor: pointer;
        height: 9rem;
        flex-basis: calc(1/3 * 100%);
        padding: 3rem 4rem 0rem 0;
        &--active {
          display: none;
        }
        > div {
          height: 100%;
          width: 100%;
          > div {
            height: 100%;
            height: 100%;
          }
        }
      }
      img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__description {
      p {
        padding-right: 5em;
        padding-bottom: 1rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
