@mixin indicator {
  content: '';
  position: absolute;
  height: 0.33em;
  width: 0.33em;
  border-radius: 50%;
  background: var(--black-ln);
  right: 0;
  top: 40%;
}

.project-selector {
  color: var(--black-ln);
  outline: 1px solid var(--black-ln);
  transition: outline-color $timing_dropdown $ease;
  pointer-events: all;
  &__selected {
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    margin: 0.5rem 0 0.25rem 0;
    cursor: pointer;
    pointer-events: all;
    &:after {
      @include indicator;
    }
  }
  &:not(.visible) {
    outline: none;
    cursor: default;
    .project-selector__menu {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
    pointer-events: none;
  }
  &__menu {
    padding: 0 2rem 1rem 1rem;
    background: var(--white);
    transition: opacity $timing_dropdown $ease;
    opacity: 1;
  }
  &__menu-item {
    padding-top: 1rem;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
  }
}
