@import './typography';
@import './stack';

html {
  font-size: 16px;
  background: white;
}

img {
  /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; */
  pointer-events: none;
}

#main {
  height: 100vh;
  width: 100vw;
  padding: 3em 4em 1em 1em;
  box-sizing: border-box;
  overflow: hidden;
}
.content-main {
  height: 100%;
}
.content-inner {
  height: 100%;
}
.logo {
  position: absolute;
  font-weight: 500;
  top: 1em;
  left: 1em;
}

nav {
  text-orientation: sideways;
  writing-mode: vertical-lr;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid black;
  padding-left: .2em;
  padding-right: 1.4em;
  background: white;
  z-index: 100;
  font-weight: 500;
}

nav a {
  padding: 2em 0;
}

.home-copy {
  padding-top: 1em;
  padding-right: 4em;
  position: absolute;
  .home-copy-cta {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: blue;
    text-indent: 2em;
    position: relative;
    z-index: 100;
    a {
      color: inherit;
    }
  }
}
