$black-ln: #333;

@import './typography';
@import './stack';
@import './project';
@import './grid';

html {
  background: white;
}

* {
  box-sizing: border-box;
}

#main {
  height: 100vh;
  width: 100vw;
  padding-right: 3rem;
  overflow: hidden;
}
.content-main {
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
.content-inner {
  height: 100%;
  position: relative;
}
.border-right {
  border-right: 1px solid #666;
}
.border-top {
  border-top: 1px solid #666;
}
.logo {
  position: absolute;
  font-weight: 500;
  top: 1em;
  left: 1em;
}
video.bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

nav {
  text-orientation: sideways;
  writing-mode: vertical-lr;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid $black-ln;
  padding-left: .3em;
  padding-right: 1.6em;
  z-index: 100;
  font-weight: 500;
}

nav a {
  margin: 2em 0;
  padding: 0.2em 0;
  &:hover, &.active {
    text-decoration: none;
    border-left: 1.2px solid black
  }
}

.home-copy {
  bottom: 0rem;
  right: 4rem;
  width: 20rem;
  position: absolute;
  .home-copy-cta {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: blue;
    text-indent: 2em;
    position: relative;
    z-index: 100;
    display: inline-block;
    a {
      color: inherit;
    }
  }
}

.flex-container {
  display: flex;
  height: 100%;
}
.full {
  height: 100%;
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.flex-bottom {
  align-items: end;
}
.flex-col {
  flex-direction: column;
}
.pad {
  padding: 1rem;
}
.pad-sides {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pad-right {
  padding-right: 2rem;
}
.cursor-pointer {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.inline-block {
  display: inline-block;
}
.rel {
  position: relative;
}
.topspc {
  margin-top: 3rem;
}

.action-button {
  font-family: 'Basis-Mono';
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &.no-2 {
    border-left: none;
  }
}

.full-pg {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}

.home-title {
  img {
    width: 100%;
    padding-bottom: 2rem;
  }
  h2 {
    padding-left: 0.6em;
  }
  &__inner {
    width: 600px;
    margin: 0 auto;
  }
  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.about-pg {
  &__inner {
    margin-left: 16.67%;
    width: 33.33%;
    img {
      height: 5em;
      margin-bottom: 2em;
    }
  }
}

.contact-card {
  margin: auto;
  width: 45rem;
  border: 1px solid $black-ln;
  position: relative;
  background: white;
  &__header {
    border-bottom: 1px solid $black-ln;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 2.8rem;
      padding: 0rem 2rem;
    }
    .info {
      padding: 1rem 2rem 0 1rem;
    }
  }
  &__body {
    padding: 1rem;
    border-bottom: 1px solid $black-ln;
    textarea {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      resize: none;
      border: none;
      height: 18rem;
      width: 100%;
    }
  }
  &__footer {
    position: relative;
    padding: 1rem;
    height: 3rem;
    input {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      border: none;
      width: 33rem;
    }
    button {
      font-family: 'Basis-Mono';
      font-size: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 10rem;
      background: white;
      color: #777;
      border: none;
      height: 3rem;
      border-left: 1px solid $black-ln;
      cursor: pointer;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  &__bg-1, &__bg-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid $black-ln;
    background: white;
    z-index: -1
  }
  &__bg-2 {
    left: -1rem;
    top: 1rem;
  }
  &__bg-1 {
    left: -2rem;
    top: 2rem;
  }
}
