$ease: cubic-bezier(0.23, 1, 0.32, 1);
$black-ln: #444;
$white: #fff;
$gray: #fafafa;

@import './typography';
@import './grid';

html {
  background: $white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .content-container {
    opacity: 1;
    transition: 300ms opacity;
  }
  &.content--transitioning {
    .nav-trackbar {
      opacity: 0;
      transform: none;
    }
    .content-container {
      opacity: 0;
    }
  }
}
.content-main {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.content-inner {
  height: 100%;
  position: relative;
}
nav {
  text-orientation: sideways;
  writing-mode: vertical-lr;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  border-left: 1px solid $black-ln;
  padding-left: .3em;
  padding-right: 1.6em;
  z-index: 200;
  font-weight: 500;
}
nav a {
  margin: 2em 0;
  padding: 0.2em 0;
}
.nav-trackbar {
  position: fixed;
  right: 3.3rem;
  top: 0;
  margin-top: 0.3rem;
  transition: 100ms transform, 300ms opacity;
  width: 10px;
  height: 90px;
  z-index: 30;
  background: #cacaca;
  cursor: grab;
}

.flex-container {
  display: flex;
  height: 100%;
}

.bg-gray {
  background: $gray;
}
.bg-white {
  background: $white;
}

.module {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 3rem;
}

.scroll-hider {
  overflow: hidden;
  height: 100%;
  > div {
    width: 102%;
    padding-right: 2%;
    overflow: scroll;
    height: 100vh;
  }
}

.margin-copy {
  position: absolute;
  top: 3em;
  left: 2.5em;
  width: 8em;
  pointer-events: none;
}

.module {
  .margin-copy {
    opacity: 0;
    transition: 300ms opacity;
  }
  &--active .margin-copy {
    opacity: 1;
  }
}

.about-pg {
  &__inner {
    display: flex;
    flex-direction: row;
    &__left {
      margin-left: percentage(2/12);
      width: percentage(4/12);
      padding-right: 2rem;
    }
    &__right {
      width: percentage(5/12);
      margin-left: percentage(1/12);
    }
  }
}


@import './home-hero';
@import './stack';
@import './project';
@import './contact';
@import './controls';
